body {
    width: 1330px;
    height: 1430px;
}

table {
    border-collapse: collapse;
}

.top-square {
    width: 123px;
}

.corners {
    width: 107px;
}

img {
    width: 100%;
    height: 100%;
}

tr {
    margin: none;
    padding: none;
}

td {
    background-color: #D9E9CE;
    border: 2px solid black;
    margin: none;
    padding: none;
}

#middle {
    text-align: center;
}

#logo {
    width: 50%;
    height: 50%;
    transform: rotate(315deg);
}

#chanse, #comunity {
    width: 100px;
    height: 60px;
    border: 2px solid black;
}

.dice {
    text-align: center;
    width: 50px;
    height: 50px;
}

#dice2 {
    display: inline-block;
}

.brown {
    text-align: center;
    display: block;
    background-color: rgb(133, 76, 23);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.blue {
    text-align: center;
    display: block;
    background-color: rgb(68, 188, 224);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.pink {
    text-align: center;
    display: block;
    background-color: rgb(224, 68, 211);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.orange {
    text-align: center;
    display: block;
    background-color: rgb(240, 143, 16);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.red {
    text-align: center;
    display: block;
    background-color: rgb(240, 50, 16);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.yellow {
    text-align: center;
    display: block;
    background-color: rgb(240, 236, 16);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.green {
    text-align: center;
    display: block;
    background-color: rgb(11, 165, 70);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.violet {
    text-align: center;
    display: block;
    background-color: rgb(116, 86, 172);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.white {
    text-align: center;
    display: block;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

.sth {
    text-align: center;
    display: block;
    background-color: rgb(148, 148, 148);
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid black;
}

h4 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    overflow-wrap: break-word;
}

h2 {
    margin-top: 20%;
}

#roll {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 1%;
    background-color: rgb(190, 201, 47);
}

#roll:hover {
    background-color: rgb(47, 211, 61);
}

.picon {
    text-align: left;
    width: 60px;
    height: 50px;
    overflow: visible;
}

@keyframes move {
    from {left: 1280px; top: 1300px;}
    to {left: 560px; top: 1300px;}
}

.playerContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

.leftContainer {
    /* grid-column: 2/3; */
    display: none;
    justify-items: center;
}

.rightContainer {
    /* grid-column: 4/5; */
    display: none;
    justify-items: center;
} 

#topLeft {
    position: absolute;
    top: 780px;
    left: 260px;
}

#bottomLeft {
    position: absolute;
    top: 980px;
    left: 260px;
}

#topRight {
    position: absolute;
    top: 780px;
    left: 840px;
}

#bottomRight {
    position: absolute;
    top: 980px;
    left: 840px;
}

#playerPics {
    grid-column: 3/4;
}

#dicePics {
    grid-column: 3/4;
}

.playerBox p {
    padding-left: 5px;
    padding-right: 5px;
}

#cardOptions {
    background-color: rgb(247, 235, 214);
    display: none;
    width: 15vw;
    border: 2px #777 solid;
    border-radius: 15px;
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 760px;
    left: 552px;
}


#cardHeader {
    border: 1px #777 solid;
    border-radius: 15px;
    display: grid;
    justify-items: center;
}

#cardFooter {
    border: 1px #777 solid;
    border-radius: 15px 15px 0 0;
    display: grid;
    justify-items: center;
}

#cardHeader h2, #payHeader h2 {
    background: rgb(133, 76, 23);
    border-radius: 13px 13px 0 0 ;
    width: 100%;
    margin: 0 0 1vw 0;
    padding: 5% 0 5% 0;
}

#cardMiddle, #payMiddle {
    border: none;
}

#cardMiddle td, #payMiddle td {
    background-color: rgb(247, 235, 214);
    border: none;
}

#cardBottom {
    border: none;
}

#cardBottom td {
    background-color: rgb(247, 235, 214);
    border: none;
}

.buttonMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#buy {
    background-color: green;
    text-decoration: none;
    color: black;
    border-bottom-left-radius: 15px;
}

#pass {
    background-color: yellow;
    text-decoration: none;
    color: black;
    border-bottom-right-radius: 15px;
}

#payOptions {
    background-color: rgb(247, 235, 214);
    display: none;
    width: 15vw;
    border: 2px #777 solid;
    border-radius: 15px;
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 900px;
    left: 552px;
}

#payHeader {
    border: 1px #777 solid;
    border-radius: 15px 15px 0 0;
    display: grid;
    justify-items: center;
}

.payBottomMenu {
    display: grid;
    grid-template-columns: 1fr;
}

#pay {
    display: grid;
    background-color: rgb(250, 85, 64);
    text-decoration: none;
    color: black;
    border-radius: 0 0 15px 15px;
}

#chOptions {
    background-color: rgb(226, 228, 110);
    display: none;
    width: 15vw;
    height: 300px;
    border: 2px #777 solid;
    border-radius: 15px;
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 880px;
    left: 552px;
}

#chHeader {
    display: grid;
    justify-items: center;
}

.chBottomMenu {
    display: grid;
    grid-template-columns: 1fr;
}

#chButton {
    display: grid;
    background-color: rgb(250, 191, 64);
    text-decoration: none;
    color: black;
    border-radius: 15px;
}

#chMiddle td, #chMiddle{
    background-color: rgb(226, 228, 110);
    border: none;
}
